.typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}
  
.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}
  
.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}
  
@keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
}

.UserInputForm{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.SupportInputForm{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.userBubbleContainer{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 10px;
    padding: 5px;
    max-width: 80%;
    margin-left: 15%;
    box-sizing: content-box;
}

.userBubble{
    display:contents;
    position: absolute;
    right: 25px;
    top:20px;
}

.userBubbleBody{
    /* width: 40%; */
    background-color: rgb(158, 216, 119);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    left: 15px;
    top: 10px;
}

.userBubbleTip{
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(158, 216, 119);
    position: relative;
    left: 0px;
    top: 10px;
}

.supportBubbleContainer{
    display: flex;
    position: relative;
    margin: 10px;
    padding: 5px;
    height: max-content;
    max-width: 80%;
}

.supportBubble{
    display:contents;
    position: absolute;
    left: 25px;
    top: 20px;
}

.supportBubbleBody{
    /* width: 40%; */
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    left: -15px;
    top: 10px;
}

.supportBubbleTip{
    width: 0; 
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(238, 238, 238);
    position: relative;
    left: 0px;
    top: 10px;
}

.chatbox{
    width: 60%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    height: 85vh;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.conversation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.userTimestamp{
    display: block;
    font-size: small;
    color: gray;
    position: absolute;
    top: 0px;
    right: 60px;
}

.supportTimestamp{
    display: block;
    font-size: small;
    color: gray;
    position: absolute;
    top: 0px;
    left: 60px;
}

